* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --cor-de-fundo: rgb(231, 134, 7);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-azul: rgb(0,0,255);
    --cor-preto: rgb(0,0,0);
    --cor-laranja-claro: rgb(255,235,205);
}

body{
    font-family: Roboto, sans-serif;
    width:1024px;
    margin:auto;
    text-align:justify;
    background-color: var(--cor-de-fundo);
}

main{
    background-color: var(--cor-secundaria);
    text-align:justify;
    /* margin: 20px; */
    padding:20px;
    position:relative;
}

blockquote{
    padding:10px;
    float:left;
    width:30%;
    background-color:rgb(206,202,202);
    border:10px solid #7a7a7a;
    display:block;
    margin:0 5%;
}

cite{
    display:block;
    margin:15px 5px 3px 0px;
    line-height:20px;
    text-align:right;
}

h2 {
    font-size:40px;
}

figure{
    width:19.2%;
    position:absolute;
    top:20px;
    right:30px;
}

aside,figure{
    float:right;
    background-color:#7a7a7a;
    color:var(--cor-preto);
    border:5px solid var(--cor-preto);
}

aside{
    width:18%;
    margin:auto;
    position: relative;
    top:-140px;
    right:20px;
    clear:right;
    background-color:var(--cor-azul);
}

ul{
    background-color: var(--cor-azul);
}

li{
    background-color:blue;
    list-style-type:none;
    display:block;
    padding:10px;
}

nav ul li a {
    display:block;
    color: var(--cor-secundaria);
    padding:10px;
    text-decoration:none;
    text-transform:bold;
    text-align:center;
}

nav li a:hover{
    display:block;
    background-color:var(--cor-de-fundo);
    text-transform:bold;
    trsnsition:.6s;
}

footer{
    height:50px;
    line-height:50px;
    background-color:black;
    color:blanchedalmond;
    clear:both;
}

.limpaFloat{
    clear:both;
}

.divisaoColuna{
    float:left;
    width:40%;
}

.reducaoDoTexto{
    width:70%;
}

.diferenciado {
    font-family: Roboto, sans-serif;
    font-size:60px;
    margin:0;
    text-transform:uppercase;
    color:rgb(0, 0, 255);
}

.vermelho{
    color:red;
}

.iconesDasRedes li{
    background-color: var(--cor-azul);
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 10px;
}

.iconesDasRedes a{
    width: 40px;
    height: 40px;
    display: inline-block;
}

#nomeCliente{
    font-size:20px;
    font-size:18px;
    text-align:center;
}

